.cardContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 12px;
}

.icons {
    margin-right: 5px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 3px;
    border: 1px solid #3e3e3e;
    padding: 4px 7px;
    font-family: inherit;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    background-color: #dbdbdb;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 5px;
}

h3,
p {
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
}