:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fafafa;
  color: #000000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  size: 28px;
  margin-bottom: 20px;
}

button {
  border-radius: 3px;
  border: 1px solid #3e3e3e;
  padding: 4px 7px;
  font-family: inherit;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  background-color: #dbdbdb;
  cursor: pointer;
}